<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- the below commented line is for singleton -->
	<!-- <bean id="triangle" class="org.javabrains.karthik.Triangle"> -->
	<bean id="triangle" class="org.javabrains.karthik.Triangle" init-method="myInitMethod" destroy-method="myDestroyMethod">
		<property name="base" value="50" />
		<property name="height" value="40" />
	</bean>

</beans>
